.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.col1 {
    float: left;
    width: 60%;
}

.col2 {
    float: right;
    width: 40%;
}

.centered {
    text-align: center;
}