.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.col1 {
    float: left;
    width: 50%;
}

.col2 {
    float: right;
    width: 50%;
}

.centered {
    text-align: center;
}

small {
    font-size: 18px;
  }


.sq1 {
    float: left;
    width: 33%;
}

.sq2 {
    width: 33%;
}

.sq3 {
    float: right;
    width: 33%;
}